/* Tags */
body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

p{
    color: hsl(229, 6%, 66%);
}
section{
    position: relative;
    top: 100px;
    width: 500px;
    display: grid;
    transform: rotate(45deg);
    grid-template-columns: auto auto;
}
div{
    width: 300px;
    height: 250px;
    transform: rotate(-45deg);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-top: solid 4px #000;
    border-radius: 3px;
    position: relative;
    text-align: left;
    padding: 10px 30px;
}
div>h2{
    font-size: 23px;
    margin: 0;
    margin-top: 10px;
}
div>img{
    position: absolute;
    right: 30px;
    bottom: 20px;
}
footer{
    position: absolute;
    bottom: -500px;
}

/* Classes */
.box1{
    border-color: hsl(0, 78%, 62%);
    top: -30px;
    left: -10px;
}
.box2{
    border-color:hsl(212, 86%, 64%) ;
}
.box3{
    border-color: hsl(180, 62%, 55%);
    top: 90px;
}
.box4{
    border-color: hsl(34, 97%, 64%);
    top: 120px;
    left: 30px;
}

/* ID's */
#h11{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}
#h12{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

/* Queries */
@media screen and (max-width: 376px) {
    /* tags */
    section{
        width: 100vw;
        height: 1300px;
        display: flex;
        transform: rotate(0deg);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    div{
        transform: rotate(0deg);
    }
    footer{
        bottom: -1300px;
    }
    /* classes */
    .box1, .box2, .box3, .box4{
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    /* id's */
    #h11{
        transform: scale(0.8);
        width: 100%;
    }
    #h12{
        transform: scale(0.8);
        width: 100%;
    }
}